# Android/Expo build folders
android/app/build/
android/.gradle/
android/gradle/
android/app/src/main/assets/

# iOS build folders
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.xcuserstate

# Node modules (already included)
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# Local environment files
.env*.local

# TypeScript build info files
*.tsbuildinfo

# App example files
app-example
